@import "variables"
@import "mixins"


@keyframes lineWidth {
  0% {
    width: 0;
  }
  90% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes sliderFade {
  0% {
    width 0%
    right 0
  }
  8% {
    right 0
    width: 100%;
  }
  16%{
    right 100%
    width 200%
  }
  24%{
    right 100%
    width 200%
  }
  32% {
    right 100%
    width 0%
  }
}