@font-face{
    font-family: bpg_arial_caps;
    src: url('../fonts/bpg-web-001-caps-webfont.woff');
}
@font-face{
    font-family: bpg_arial;
    src: url('../fonts/bpg-web-001-webfont.woff');
}
@font-face {
	font-family: gl_bold;
	src: url('../fonts/gl-gordeziani-bold.woff');
}