@import "animations"
@import "fonts"
	
*
	margin 0
	padding 0
	list-style-type none
	outline none
	font-family: bpg_arial_caps;
	&::-webkit-scrollbar{
	    width 4px
	    border-radius 5px
	    background #ced0d4
	}
	&::-webkit-scrollbar-thumb{
	    width 4px
	    border-radius 5px
	    background blue
	}

nav
	background transparent
	box-shadow none
	width auto
	li
		line-height
		&:hover
			a
				background transparent
	ul
		li.active
			background transparent
		a
			padding 0
			line-height 20px


body{
    display flex
    min-height 100vh
    flex-direction column
    overflow-x hidden
    background #f8f8f87d
}
// body::-webkit-scrollbar{
//     width 0
//     border-radius 5px
// }
// body::-webkit-scrollbar-thumb{
//     width 4px
//     border-radius 5px
//     background rgba(blue, 0.4)
// }
main{
    flex 1 0 auto
    z-index 1
    left 0
    transition 0.8s ease
}

.container{
	max-width 900px
	padding 0 20px
	width calc(100% - 20px)
	box-sizing border-box
	+mq(1200px){
		max-width 900px
	}
	+mq(992px){
		max-width 800px
	}
	+mq(600px){
		padding 0 10px
	}
}
.clear{
	clear both
}
button:focus{
	background-color transparent
}
input:not([type]), 
input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default), 
input[type=email]:not(.browser-default), 
input[type=url]:not(.browser-default), 
input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), 
input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), 
input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), 
input[type=search]:not(.browser-default), 
textarea.materialize-textarea{
	border-bottom 1px solid rgba(black, 0.1)
	padding 0
	box-sizing border-box
	text-transform uppercase
	padding-left 40px
	+mq(768px){
		padding-left 18px
	}
}
textarea.materialize-textarea{
	height 100px
}
.input-field label:not(.label-icon).active{
	transform translateY(-9px) scale(0.8)
	color blue!important
}
.input-field label{
	height 20px
	padding-left 30px
	padding-right 10px
	// z-index 1
	transform translateY(16px)
	margin-left 10px
	+mq(768px){
		padding-left 10px
	}
}
.file-field .file-path-wrapper{
	padding-left 0
}
.file-field .btn, .file-field .btn-large{
	box-shadow none
	border-radius 0
	height 52px
	background #c8d0ff
}
.file-field{
	span{
		font-family bpg_arial
		color blue
		font-size 14px
	} 
	img{
		width 26px
		margin-right 10px
		margin-top: 15px;
    	margin-bottom: -8px;
	}
}
input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #e3e7f1;
    -webkit-box-shadow: 0 1px 0 0 transparent;
    box-shadow: 0 1px 0 0 transparent;
}
input.valid:not([type]), 
input.valid:not([type]):focus, 
input[type=text].valid:not(.browser-default), 
input[type=text].valid:not(.browser-default):focus, 
input[type=password].valid:not(.browser-default), 
input[type=password].valid:not(.browser-default):focus, 
input[type=email].valid:not(.browser-default), 
input[type=email].valid:not(.browser-default):focus, 
input[type=url].valid:not(.browser-default), 
input[type=url].valid:not(.browser-default):focus, 
input[type=time].valid:not(.browser-default), 
input[type=time].valid:not(.browser-default):focus, 
input[type=date].valid:not(.browser-default), 
input[type=date].valid:not(.browser-default):focus, 
input[type=datetime].valid:not(.browser-default), 
input[type=datetime].valid:not(.browser-default):focus, 
input[type=datetime-local].valid:not(.browser-default), 
input[type=datetime-local].valid:not(.browser-default):focus, 
input[type=tel].valid:not(.browser-default), 
input[type=tel].valid:not(.browser-default):focus, 
input[type=number].valid:not(.browser-default), 
input[type=number].valid:not(.browser-default):focus, 
input[type=search].valid:not(.browser-default), 
input[type=search].valid:not(.browser-default):focus, 
textarea.materialize-textarea.valid, 
textarea.materialize-textarea.valid:focus, 
.select-wrapper.valid>input.select-dropdown{
	border-bottom: 1px solid #e3e7f1;
	-webkit-box-shadow: 0 1px 0 0 transparent; 
	box-shadow: 0 1px 0 0 transparent; 
}

.select-wrapper input.select-dropdown,
input:not([type]), 
.owl-theme .owl-nav
	margin-top 0
.input-field
	margin-top 0
.dropdown-content li>a, .dropdown-content li>span
	color #707070
	font-weight normal

.row
	.col
		padding 0 7px
		
.input-field.select-field{
	z-index: 111;
}